<style type="text/css">
	body{background: white;}
</style>
<div class="row">
	<div class="col-md-12">
		<p>
			ITsolutioncr nace con el objetivo de brindar una opción diferente de soluciones informáticas  para empresas con un enfoque distinto. Contamos con una amplia gama de servicios, diseño, desarrollo, imlementación o mejoramiento de software, consultoría, Outsourcing  entre otras soluciones informáticas para satisfacer las diferentes necesidades de las empresas de todos nuestros clientes empresariales.
			Itsolutioncr cuenta con un grupo de profesionales altamente capacitado y calificado en las áreas de Tecnologías de Información, así como un departamento de servicio al cliente, preparado para atenderlos y resolver todas sus consultas de la manera rápida y eficiente.
		</p>
		<p>
			Misión.!!
			Ser una empresa lider en soluciones tecnologícas a nivel nacional ofreciendo alternativas innovadoras que contribuyan a que las empresas alcancen altos niveles de rentabilidad, calidad y presencia en el competente mercado industrial.
			Visión.!!
			 Ser una empresa competitiva  innovadora y de alta calidad, reconocida en Costa Rica y con presencia en la región Centroamericana, por las soluciones tecnológicas que ofrece, generando relaciones duraderas con nuestros clientes, proveedores y nuestros colaboradores.
			Caliadad y Servicio.!!
			 Nos enfocamos en la mejora continua de nuestras soluciones, con el objetivo de satisfacer la necesidades de nuestros clientes  en cada uno de los proyectos que estos solicitan. Proporcionandoles soluciones que son realizadas por nuestro equipo de profesionales con un alto sentido de responsabilidad y compromiso con el fin de entregarlas a tiempo y con los más altos estándares de calidad y satisfacción.



		</p>
	</div>
	
</div>
