<br>
<!-- SLAIDER DE IMAGENES -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag("Slider/automatizacion_procesos.jpg")%>
      <div class="carousel-caption">
          <h3>...</h3>
          <p>...</p>
        </div>
    </div>
    <div class="item">
      <%=image_tag("Slider/automatizacion_procesos.jpg")%>
      <div class="carousel-caption">
          <h3>AUTOMATIZACION DE PROCESOS</h3>
          <p>con todo el gataso</p>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- FIN SLAYDER DE IMAGENES -->
<!-- CONTENIDO INDEX -->
<div class="row">
  <div class="col-md-8">
    <h5 style="background:#7ABB39;padding:4px;color:#FFFFFF;">Acerca de Soluciones Aplicativas</h5>
    <h1>IT Solution cr</h1>
    Proporcionamos una suite completa de soluciones de TI que le ayudarán a su empresa a tener éxito.
    <ul>
      <li>Nuestras Soluciones de IT </li>
      <li>Le permitirán organizar </li>
      <li>La información de su empresa</li>
      <li>Accesible y útil </li>
      <li>En un ambiente más seguro</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h5 style="background:#7ABB39;padding:4px;color:#FFFFFF;">Contáctenos</h5>
    <span class="glyphicon glyphicon-earphone"></span> <strong>Llamenos en Costa Rica</strong><br>
    <strong>Telefono:</strong> 2222-2222 <br>
    <strong>Movil:</strong> 7777-7777 <br>
    <strong>Fax:</strong> 7777-7777
  </div>
</div>